/target
# Original game (copyrighted Ambrosia data) — kept locally, never committed.
/EV Nova.app
.DS_Store
mutants.out*/
# Windows Community Edition data (.rez files, copyrighted) — local only.
/windows-data
